<!DOCTYPE html>
<html lang="ro">

    <head>
        <meta name="description" content="Site agentie turistica">
        <meta name="key-words" content="Agentie turistica, vacanta, sejur">
   
        <title>Air Travel</title>
        <%-include("../fragmente/head.ejs")%>
    </head>
    
    <body>

        <%- include("../fragmente/header.ejs") %>        
        <main>
           <p>Eroare 404</p>
        </main>

        <%- include("../fragmente/footer.ejs") %> 
    </body>
</html>