<footer>
    <a href="#"> 
    <div id="link-top" title="Link to the top of the page">  
        <div>&#5123;</div></div></a>

    <address>
        Phone : <a href="tel:+4733378901">+47 333 78 901</a>
        Address : <a target="_blank" href="https://tinyurl.com/2p98tkxu"> Company location</a>
        For questions, email as at : <a href="mailto:exemplu@exemplu.com">Send email</a>
        Whatsapp : <a href="whatsapp://send?abid=username&text=HeyThere!">Send message</a>

    </address>

    <p>Pagina a fost creata la data de : <time datetime="2022-10-17">17.10.2022</time></p>
    

    <p><small>Copyright © 2022</small></p>
    
</footer>