
        <!--Et1.4-->

        <header>
            <!--Et1.5-->
                <h1 > Air Travel</h1>
            <nav>
    
                <label id="hamburger" for="ch-menu">
                    <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <!-- de corectat meniul -->
                <ul class="meniu">
                    <li><div><a id="icon" href="home"><i class="fa fa-fw fa-home"></i><span id="home">Home</span></a></div></li>
                    <li><div><a href="register">Register</a></div></li>
                    <li><div><a href="hitory">Our History</a></div></li>
                    <li><div><a href="contact">Contact us</a></div></li>
                    <li><div><a href="vacantions">Vacations</a></div></li>
                    <li><div class="rentals">Rentals</div>
                        <ul >
                            <li><a href="cars">Cars</a></li>
                            <li><a href="scooters">Scooters</a></li>
                            <li><a href="uber">Uber</a></li>
                            <li><a href="taxi">Taxi</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            </header>